$navbar-background-color: #262F36;
$navbar-item-color: white;
$navbar-item-hover-color: #1991B3;
$navbar-item-hover-background-color: #262F36;
$navbar-height: 4.80rem;
$navbar-item-img-max-height: 5rem;
$navbar-item-active-color: #1991B3;

@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
